# Ejercicios

## Ejercicio 1

__(a)__ Utiliza la función `range` para generar la __lista__ de numeros pares con inicio 100 y fin 150. Ambos inclusive. 

__(b)__ Utiliza la función `range` para generar la __tupla__ de numeros múltiplos de 3 con inicio 99 y fin 78. Ambos inclusive. El resultado será: `(99, 96, 93, 90, 87, 84, 81, 78)`.

In [7]:
# SOL

## Ejercicio 2

Escribe una función llamada `weekday` que devuelva el día de la semana (Lunes, Martes, Miércoles, etc.). La función tiene un único parámetro de entrada de tipo entero y comprendido entre el 1 y el 7 que representa el día de la semana. Dicha función devuelve un único valor de tipo str.

__Nota:__

* weekday(1) devuelve como resultado el valor 'Lunes'
* weekday(6) devuelve como resultado el valor 'Sábado'

In [7]:
# SOL

## Ejercicio 3

Diseña una función llamada __sumar_pares_positivos__ que reciba una lista de números `a` y devuelva la suma de  conteaquellos números que sean pares y positivos.

__Ejemplo de ejecución:__

```
In: 
    L = [5, -2, 2, 4, -8, 6, 7, 0]
    r = filtrar_pares_positivos(L) 
    r
    
Out: 
    12
```

In [5]:
# Sol:

## Ejercicio 4

El siguiente diccionario representa algunos de los datos de empleados (NIF's y otros datos personales) de una empresa:

In [6]:
personal = {
 '09514247N': {"perfil": ["desarrollador de software","cocina" ],
               'edad': 28,
               'salario': 35000,
               "incorporación": 2005,
               "empresa_ant": "IBM",
               "pais": "España"},
 '12547895E': {"perfil": ["desarrollador de software", "control de calidad"  ],
               'edad': 28,
               'salario': 28000,
               "pais": "España"},
 '01235842B': {"perfil": [ "gestión logística","control de calidad", "transporte"],
               'edad': 28,
               'salario': 47000,
               "empresa_ant": "Amazon",
               "pais": "España"},
 '47854141S': {"perfil": [ "inventario","control de calidad", "gestión de proyectos"  ],
               'edad': 28,
               'salario': 50000,
               "incorporación": 2000,
               "pais": "España"},
 '12345678G': {'edad': 28,
               'salario': 62000,
               "pais": "España"},
 '56789023T': {"perfil": ["desarrollador de videojuegos" ],
               'edad': 28,
               'salario': 29000,
               "pais": "España"}
}

(a) Escribe las instrucciones necesarias para recuperar la lista de todos los NIFs. Observa que el dato del NIF se encuentra en la claves del diccionario personal.

In [7]:
# SOL

(b) Escribe la instrucción que devuelve la edad de la persona con NIF 01235842B.

In [8]:
# SOL

(c) Sube el salario en un 10% al empleado con NIF 56789023T.

In [9]:
# SOL

## Ejercicio 5

Dada una lista de direcciones de correo electrónico:

```
direcciones = ['ana@gmail.com', 'luis@google.es', 'tu@ucm.es' ]
```
se desea extraer el nombre del dominio. Por ejemplo, a partir de la lista anterior, queremos obtener la lista:

```
['gmail.com', 'google.es', 'ucm.es' ]
```

Para resolver este problema, tenemos que usar la función split de los strings, que permite dividir un string en partes.

In [10]:
# SOL

## Ejercicio 6

Dada una lista de empleados con su salario:

empleados = [('Ana', 200), ('Juan', 400), ('Pedro', 750), ('Lucía', 600), ('Sergio', 350)]

se desea extraer el nombre de los empleados cuyo salario es inferior a 500. Por ejemplo, a partir de la lista anterior, queremos obtener la lista:

['Ana', 'Juan', 'Sergio']

In [11]:
# Sol: