# Ejercicios

El dataset `BlackFriday.csv` contiene 550.000 registros sobre las ventas realizadas en un comercio. Cada registro contiene información del cliente (sexo, si está casado o no, edad, etc.) e información de la compra que ha realizado en el comercio (importe de la compra, tipo de producto, etc.).

* `User_ID`                : Código de usuario
* `Product_ID`             : Código de producto
* `Sexo`                   : Hombre(M), Mujer(F)
* `Edad`                   : Franja de edad del usuario
* `Occupation`              
* `Cat_ciudad`             : Categoría de la ciudad de residencia del usuario
* `Years_en _la_ciudad`    : Número de años que el usario lleva residiendo en la ciudad
* `Estado_civil`           : Casado(1), soltero(0)
* `Product_Category_1`
* `Product_Category_2`
* `Product_Category_3`
* `Imp_Compra`             : Importe o precio del producto



### 1. 
Carga los datos de los datasets  `BlackFriday.csv` y `BlackFriday_Products.xlsx` en dos dataframes llamados `ventas` y `productos` respectivamente.

In [1]:
import pandas as pd

### 2. 
Calcula los primeros estadísticos `mínimo`, `máximo`, `media` y `desviación típica` del importe de compra  `Imp_Compra`.

###  3.
¿Cuántas unidades se ha vendido de cada producto? Usa la operación `value_counts()`.

### 4.
Sustituye los valores `NaN` de la columna `Product_Category_2` por el valor `'Desconocido'`.

### 5
¿Cuantos valores `NaN` hay en la columna `Product_Category_3`? Usa la operación `isnull`.

### 6
Selecciona las filas de las compras realizadas por hombres solteros. Guarda el resultado de la selección anterior  en otro DataFrame llamado `compras_solteros`.

###  7 
Selecciona a los usuarios que han realizado alguna compra con importe por debajo de la media.

### 8
Añadir una nueva columna al dataframe data llamada `Imp+IVA` que contenga el importe total de la compra con IVA (Importe de la compra más el 21% de IVA).

### 9
Calcula el número de compras realizadas por mujeres y el número de compras realizadas por hombres. Usa la operación `groupby`.

###  10
Calcula la media del importe. Crear una nueva columna en el dataframe `ventas` llamada 'Tipo_compra' cuyo valor sea 'Low' si el importe de la compra está por debajo de la media y 'High' si el valor de la compra es mayor que la media. Usa la operación `map` sobre la columna ìmporte para aplicar una función `lambda` que haga la transformación.

### 11
Las ciudades de venta se dividen en categorías (`Cat_ciudad`). ¿Cuántas categorías de ciudad distintas hay en el dataset?

### 12
Crear una nueva columna en el dataframe `productos` llamada `rating ` cuyo valor sea la valoración del producto en formato `float`. Por ejemplo, para la valoración `4.7 out of 5` , el valor de `rating` ha de ser `4.7`.

### 13
Elimina definitivamente  la columna `Occupation` del Dataframe `ventas`.

### 14
Calcula la media, el mínimo y el máximo importe de compra por sexo y los años que el usuario lleva viviendo en la ciudad. Muestra los resultados en un único dataframe.

### 15
Calcula el número de compras y el importe total por código de producto. Muestra el resultado ordenado de forma ascendente por código de producto.

###  16
Construye un dataframe llamado `resumen` que muestre la información de código de usuario (`User_ID`), código del producto que ha comprado (`Product_ID`), sudescripción (`Descripción`),  la valoración del producto(`average_product_rating`) y el importe gastado (`Imp_Compra`).

### 17

Muestra un listado de usuarios que han comprado el producto `Arizona Flex Skinny Jeans`.