# Ejercicios

## Ejercicio 1

__(a)__ Utiliza la función `range` para generar la __lista__ de numeros pares con inicio 100 y fin 150. Ambos inclusive. 

__(b)__ Utiliza la función `range` para generar la __tupla__ de numeros múltiplos de 3 con inicio 99 y fin 78. Ambos inclusive. El resultado será: `(99, 96, 93, 90, 87, 84, 81, 78)`.

In [3]:
# SOL

lista_pares = list(range(100,151,2))
print(lista_pares)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

In [51]:
t_lista = list(range(99,77,-3))
t_tupla = tuple(t_lista)
type(t_tupla)

tuple

In [52]:
print(t_tupla)

(99, 96, 93, 90, 87, 84, 81, 78)

## Ejercicio 2

Escribe una función llamada `weekday` que devuelva el día de la semana (Lunes, Martes, Miércoles, etc.). La función tiene un único parámetro de entrada de tipo entero y comprendido entre el 1 y el 7 que representa el día de la semana. Dicha función devuelve un único valor de tipo str.

__Nota:__

* weekday(1) devuelve como resultado el valor 'Lunes'
* weekday(6) devuelve como resultado el valor 'Sábado'

In [69]:
# SOL

def weekday(x):
    if x == 1:
        return 'Lunes'
    if x == 2:
        return 'Martes'
    if x == 3:
        return 'Miércoles'
    if x == 4:
        return 'Jueves'
    if x == 5:
        return 'Viernes'
    if x == 6:
        return 'Sábado'
    if x == 7:
        return 'Domingo'
    else:
        return 'El número introducido no corresponde a ningún día de la semana'

weekday(5)

'Viernes'

## Ejercicio 3

Diseña una función llamada __sumar_pares_positivos__ que reciba una lista de números `a` y devuelva la suma de  conteaquellos números que sean pares y positivos.

__Ejemplo de ejecución:__

```
In: 
    L = [5, -2, 2, 4, -8, 6, 7, 0]
    r = filtrar_pares_positivos(L) 
    r
    
Out: 
    12
```

In [5]:
L = [5, -2, 2, 4, -8, 6, 7, 0]

In [13]:
# Sol:

def sumar_pares_positivos(lista):
    contador=0
    for i in range(len(lista)):
        if lista[i] > 0 and (lista[i]%2) == 0:
            contador=contador+lista[i]
    return contador

In [14]:
sumar_pares_positivos(L)

12

## Ejercicio 4

El siguiente diccionario representa algunos de los datos de empleados (NIF's y otros datos personales) de una empresa:

In [21]:
personal = {
 '09514247N': {"perfil": ["desarrollador de software","cocina" ],
               'edad': 28,
               'salario': 35000,
               "incorporación": 2005,
               "empresa_ant": "IBM",
               "pais": "España"},
 '12547895E': {"perfil": ["desarrollador de software", "control de calidad"  ],
               'edad': 28,
               'salario': 28000,
               "pais": "España"},
 '01235842B': {"perfil": [ "gestión logística","control de calidad", "transporte"],
               'edad': 28,
               'salario': 47000,
               "empresa_ant": "Amazon",
               "pais": "España"},
 '47854141S': {"perfil": [ "inventario","control de calidad", "gestión de proyectos"  ],
               'edad': 28,
               'salario': 50000,
               "incorporación": 2000,
               "pais": "España"},
 '12345678G': {'edad': 28,
               'salario': 62000,
               "pais": "España"},
 '56789023T': {"perfil": ["desarrollador de videojuegos" ],
               'edad': 28,
               'salario': 29000,
               "pais": "España"}
}

(a) Escribe las instrucciones necesarias para recuperar la lista de todos los NIFs. Observa que el dato del NIF se encuentra en la claves del diccionario personal.

In [22]:
# SOL

personal.keys()

dict_keys(['09514247N', '12547895E', '01235842B', '47854141S', '12345678G', '56789023T'])

(b) Escribe la instrucción que devuelve la edad de la persona con NIF 01235842B.

In [23]:
# SOL

personal['01235842B']['edad']

28

(c) Sube el salario en un 10% al empleado con NIF 56789023T.

In [24]:
# SOL

personal['56789023T']['salario'] = (personal['56789023T']['salario']*10/100)+personal['56789023T']['salario']
print(personal['56789023T']['salario'])

31900.0

## Ejercicio 5

Dada una lista de direcciones de correo electrónico:

```
direcciones = ['ana@gmail.com', 'luis@google.es', 'tu@ucm.es' ]
```
se desea extraer el nombre del dominio. Por ejemplo, a partir de la lista anterior, queremos obtener la lista:

```
['gmail.com', 'google.es', 'ucm.es' ]
```

Para resolver este problema, tenemos que usar la función split de los strings, que permite dividir un string en partes.

In [28]:
direcciones = ['ana@gmail.com', 'luis@google.es', 'tu@ucm.es' ]

In [57]:
# SOL

list(map(lambda correo : correo.split(sep='@')[1], direcciones))

['gmail.com', 'google.es', 'ucm.es']

## Ejercicio 6

Dada una lista de empleados con su salario:

empleados = [('Ana', 200), ('Juan', 400), ('Pedro', 750), ('Lucía', 600), ('Sergio', 350)]

se desea extraer el nombre de los empleados cuyo salario es inferior a 500. Por ejemplo, a partir de la lista anterior, queremos obtener la lista:

['Ana', 'Juan', 'Sergio']

In [74]:
empleados = [('Ana', 200), ('Juan', 400), ('Pedro', 750), ('Lucía', 600), ('Sergio', 350)]

In [94]:
# SOL

def salario(empleados):
    empleados_500 = []
    for persona in empleados:
        if persona[1] > 500:
            empleados_500.append(persona[0])
    print(empleados_500)

In [95]:
salario(empleados)

['Pedro', 'Lucía']