# Tipos de datos estructurados

Además de los objetos escalares (tipos de datos simples), Python posee otros objetos denominados no escalares, que como dijimos en la sección anterior, son objetos con estructura interna.
En esta sección introducimos los objetos de tipo `tuple` (tuplas), y los objetos de tipo `list` (listas).

Estos dos  tipos de objetos pueden almacenar colecciones de elementos de diversos tipos y se diferencian por su sintaxis y por la forma en la cual los datos pueden ser manipulados.

## Las secuencias en Python: Tuplas y Listas

### Tuplas

Una tupla es un tipo de datos que representa una secuencia de elementos de cualquier tipo, a los cuales se puede acceder mediante índices enteros. Las tuplas se caracterizan porque son __inmutables__ (no pueden ser modificadas una vez creadas) y __comparables__.

Desde el punto de vista sintáctico, una tupla se define mediante una colección  de elementos separados por comas y encerradas entre paréntesis.

En la siguiente celda creamos una tupla de 4 elementos llamada `t1`:

In [1]:
t1 = (4, "Hola", 3, 7.99)     # Tupla con 4 elementos
t2 = ()                       # Tupla vacía

t1

(4, 'Hola', 3, 7.99)

In [2]:
t2

()

¿De que tipo es el objeto  `t1`?

In [3]:
t1 = (4, "Hola", 3)
type(t1)               # t1 es de tipo tuple

tuple

Podemos comprobar si un elemento está en la tupla con el operador `in`:

In [4]:
t1 = (4, "Hola", 3)
'Hola' in t1    # ¿Está la cadena 'Hola' en la tupla t1? 
                 # La respuesta es un valor de tipo bool

True

In [5]:
4 not in t1   # Preguntamos si el 4 NO está en la tupla t

False

Podemos saber cuántos elementos tiene una tupla con la función `len`:

In [6]:
len(t1)

3

Podemos __concatenar__ tuplas con el operador `+`:

In [5]:
r = (1, 3, 4) + (2, 7)
r

(1, 3, 4, 2, 7)

A los objetos de tipo `tuple` no se les puede añadir nuevos elementos, ni eliminar alguno de los que ya tienen. Esto es por ser un tipo inmutable.

En general, los objetos no escalares tienen asociado un __conjunto de propiedades__ y un __conjunto de operaciones__.

Las únicas operaciones disponibles para las tuplas son:

* index(e)
* count(e)

In [8]:
r.index(2)

3

Para realizar una operación sobre un objeto, se utiliza el operador punto (`.`) seguido del nombre de la operación a realizar. Por ejemplo:

In [9]:
t1 = (4, "Hola", 3)
t1.index(4)

0

El punto `(.)` que se encuentra detrás del nombre del objeto `t1` en la expresión `t1.index('Hola')` le indica a Python que debe ejecutar la operación `index('Hola')` sobre el objeto  `t1`.
Para consultar la ayuda de estas operaciones, puedes ejecutar la siguiente celda de código:

In [11]:
t1.count?

Para consultar cuáles son las operaciones disponibles para los objetos de un determinado tipo, podemos escribir el objeto seguido del operador punto `(.)` y pulsar la tecla `tabulador`:

In [13]:
t1.count(5)

1

### Listas

Una lista es similar a una tupla con la diferencia fundamental de que puede ser modificada una vez creada. Se trata de un objeto de tipo  __mutable__ y contiene datos heterogéneos.

Para crear una lista se encierra los elementos que forman la lista entre corchetes.

In [15]:
# Ejemplos de listas
data = [ ]
data1 = [2, 3, 4, 5, 2]                   # colección de elementos 
data2 = ['Ana', 10, 'Alberto' ]


print(data1)
print(data2)

[2, 3, 4, 5, 2]
['Ana', 10, 'Alberto']

Comprobar si un elemento está en la lista con el operador `in`:

In [16]:
data2 = ['Ana', 10, 'Alberto' ]
10 in data2

True

In [17]:
#longitud de una lista
len(data2)

3

Algunas operaciones sobre listas son la operación `+` para concatenar listas:

In [18]:
data1 = [2, 3, 4, 5]                   
data2 = ['Ana', 10, 'Alberto' ]
nueva = data1 + data2
print(nueva)

[2, 3, 4, 5, 'Ana', 10, 'Alberto']

### Rangos

Los objetos de tipo `range` son __inmutables__. Son una progresión de números enteros y solo pueden ser creados mediante una función de Python llamada  `range(start, end, step)` .
<!--Decimos que un objeto es __iterable__ si se puede recorrer para recuperar cada uno de los elementos que contiene. En este sentido, las listas son iterables y las tuplas también.-->

Veamos algunos ejemplos:

In [19]:
range(10)         # crea un objeto  de 10 números enteros: [0, 10)

range(0, 10)

In [20]:
r = range(10)     # usamos la función 'list' que me devuelve una lista
lista_10 = list(r)
lista_10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#  crea un objeto iterable de números enteros entre el -5 y 5: [-5, 5)
r = range(-5, 5)   
list(r)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [17]:
#  crea un objeto iterable de números enteros entre el -5 y 5 con salto 2
r = range(-5, 5, 2)   
list(r)

[-5, -3, -1, 1, 3]

In [22]:
# crear un rango comienza en el 10 y temina en el 100
# 10, 20, 30, ....., 100

r = range(10, 101, 10)
lista = list(r)
lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### Acceso a los elementos de las secuencias

Los elementos de las secuencias pueden ser accedidos mediante el uso de corchetes `[ ]`, como en otros lenguajes de programación.  Podemos *indexar* las secuencias utilizando la sintaxis:

```
[<inicio>:<final>:<salto>]
```

En Python, la indexación empieza por CERO. Veamos algunos ejemplos de cómo se utiliza la notación `inicio`: `fin`: `salto`

In [18]:
# Acceso a los elementos: indexación comenzando desde 0
data3 = [100, 200, 300, 400, 500, 600]
data3[0]

100

In [23]:
# acceso desde el elemento de índice 1 hasta el elemento de índice 2
data3 = [100, 200, 300, 400, 500, 600]
data3[1:3]

[200, 300]

In [24]:
# acceso desde el elemento de índice 0 hasta el elemento de índice 2
data3 = [100, 200, 300, 400, 500, 600]
data3[:3]

[100, 200, 300]

In [25]:
data3 = [100, 200, 300, 400, 500, 600]
data3[-1]             # acceso al último elemento

600

In [26]:
data3 = [100, 200, 300, 400, 500, 600]
data3[-3:]         # acceso a los 3 últimos elementos

[400, 500, 600]

In [27]:
data3 = [100, 200, 300, 400, 500, 600]
data3[0:5:2]       # saltando 2

[100, 300, 500]

Como los objetos de tipo `list` son mutables, podemos __modificar su estructura__, por ejemplo cambiando el elemento almacenado en cualquiera de sus posiciones:

In [31]:
# modificación de los elementos
data2 = ['Ana', 10, 'Alberto']
data2[1] = 9 * 3
data2

['Ana', 27, 'Alberto']

### Operaciones sobre listas

Los objetos de tipo `list` disponen de un conjunto de operaciones más amplio que los objetos de tipo `tuple`. Aparte de las operaciones `count` e `index`, tenemos:

* `append(e)`
* `insert(pos, e)`
* `extend(l)`
* `remove(e)`
* `pop(pos)`
* `sort()`
* `reverse()`


Para consultar la ayuda de estas operaciones puedes utilizar el símbolo de interrogación (`?`)

In [33]:
data2 = ['Ana', 10, 'Alberto']
data2.insert?

__Ejemplo de `append`:__

In [38]:
m = ['Lunes', 'Jueves']
m.append('Viernes')
m.append('Sábado')
m

['Lunes', 'Jueves', 'Viernes', 'Sábado']

El punto `(.)` que se encuentra detrás del nombre de la variable `m` en la expresión `m.append('Viernes')` le indica a Python que debe ejecutar la operación `append('viernes')` sobre la variable `m`.

__Ejemplo de `insert`:__

Otra forma de añadir elementos es mediante la operación `insert(pos, e)`, que  inserta un elemento  `e` en la posición `pos`.

In [35]:
m = ['Lunes', 'Jueves', 'viernes']
m.insert(1, 'Martes')    # inserta el elemento 'martes' en la posición 1
m                        # desplaza las posiciones a la derecha del 1

['Lunes', 'Martes', 'Jueves', 'viernes']

__Ejemplo de `extend`:__

Si queremos añadir múltiples elementos a una lista, podemos utilizar el operador + como hemos visto anteriormente, o usar la operación `extend`. Si la lista que estamos construyendo es muy larga es preferible utilizar `extend` ya que es mucho más eficiente. La razón es que el operador `+` debe crear una nueva lista y copiar todos los elementos en la nueva lista. Sin embargo la operación  `extend` modifica la lista sobre la que se aplica la operación.

Veamos un ejemplo de su uso:

In [36]:
lista = [100, 200]
lista.extend([8,9,10])
lista

[100, 200, 8, 9, 10]

__Ejemplo de `pop` y  `remove`:__

Para eliminar elementos de una lista, podemos utilizar los métodos `pop` y `remove`.

* __Eliminando por posición__

La operación `pop` permite eliminar el elemento de la lista que ocupa una determinada posición.

In [39]:
lista = [100, 200]
e = lista.pop(0)
e

100

In [40]:
lista     # la lista tiene un elemento menos

[200]

* __Eliminación por valor__

Puede darse el caso de que necesitemos eliminar un elemento de la lista y que no conozcamos la posición que ocupa. En esos casos utilizaremos el método `remove`.

In [41]:
lista = [100, 200, 400, 200]
lista.remove(200)
lista

[100, 400, 200]

### Un caso particular de secuencias: Las secuencias de caracteres- str

Las cadenas son consideradas como una secuencia de caracteres y por tanto pueden ser tratadas como tuplas.

Por ejemplo, podemos acceder a cada uno de los caracteres de una cadena:

In [42]:
a = "Ana"
a, a[0], a[2]

('Ana', 'A', 'a')

Las cadenas en Python son inmutables. Eso quiere decir que no es posible modificar una cadena sin crear otra nueva.

In [43]:
# En Python 3.5 strings son Unicode por defecto
mensaje = "Vaya calor que hace"
mensaje[0]

'V'

Los objetos de tipo `str` tienen un conjunto de operaciones mucho más amplio que las tuplas. Recuerda que puedes consultar dicho conjunto utilizando el operador punto seguido de tabulador:

__Ejemplo de la operación `replace`.__

In [126]:
b = mensaje.replace('V', 'v')
b, mensaje

('vaya calor que hace', 'Vaya calor que hace')

Para ver todas las operaciones  que podemos utilizar con un objeto también podemos   ejecutar la siguiente celda:

In [79]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Algunos ejemplos:

In [127]:
mensaje.upper()

'VAYA CALOR QUE HACE'

In [81]:
mensaje.title()

'Vaya Calor Que Hace'

In [128]:
mensaje.split()

['Vaya', 'calor', 'que', 'hace']

In [129]:
cadena = '     esto salto \n'
cadena.strip()

'esto salto'

## Referencias

* [Tutorial de Python. Por Guido Van Rossum](https://argentinaenpython.com/quiero-aprender-python/TutorialPython3.pdf)

-----